#map {
    height: 100vh;
    width: 100vw;
    position: absolute;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

:root {
    --animate-duration: 300ms;
    --animate-delay: 0.4s;
}

img.center-pos {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

video {
    width: 100%;
    max-height: 100%;
}

.center-text {
    text-align: center;
}

#progress-wrapper {
    position: absolute;
    left: 70px;
    top: 16px;
}

#progress-wrapper #user-icon-wrapper {
    position: relative;
    left: 0px;
    top: 0px;
}

#progress-wrapper #user-icon-wrapper #user-icon {
    height: 36px;
}

#progress-wrapper #target-icon-wrapper {
    position: absolute;
    left: 285px;
    top: 0px;
}

#progress-wrapper #target-icon-wrapper #target-icon {
    height: 45px;
}

#progress-bar {
    position: relative;
    left: 35px;
    top: -30px;
    height: 8px;
    width: 350%;
}

.chat-wrapper { 
    position: absolute;
    left: 16px;
    bottom: 16px;
}

#chat-btn {
    border: none;
    background: #FFF;
    outline: none;
    border-radius: 16px;
    padding: 6px 16px;
    font-size: 12px;
    box-shadow: 0 2px 8px 0 #ddd;
    position: absolute;
    bottom: 40px;
    right: 24px;
    color: #666;
    display: flex;
    align-items: center;
}

#chat-btn svg {
    margin-right: 8px;
}

.unread-message {
    position: absolute;
    bottom: 67px;
    right: 30px;
    border-radius: 50%;
    color: #fff;
    font-size: 8px;
    background: #B80D55;
    height: 15px;
    width: 15px;
    line-height: 15px;
    vertical-align: middle;
    text-align: center;
}

.chat-wrapper { 
    position: absolute;
    height: 100vh;
    width: 100vw;
    background-color: rgba(2, 2, 2, 0.8);
    transform: translate3d(0,100%,0);
    top: 0;
    left: 0;
}

.chat-content {
    padding: 8px 8px 32px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100vw;
}

#chatArea {
    max-height: calc(100vh - 144px);
    overflow: auto;
}

#chatArea .well {
    margin: 8px 0 0;
    background-position: 12px 16px;
    background-size: 32px;
    background-repeat: no-repeat;
    padding-left: 56px;
}

#chatArea .well.notification {
    background-position: 12px 50%;
    background-image: url(../images/notification.png);
}

#chatArea .well.profile {
    background-image: url(../images/profile.svg);
}

#chatArea .well.profile.self {
    background-image: url(../images/dora.svg);
    background-position: calc(100% - 12px) 16px;
    padding-left: 0;
    padding-right: 56px;
    text-align: right;
}

#chatArea .well.profile span.user {
    display: block;
    font-size: 10px;
}

#chatArea .well.profile span.date {
    display: block;
    font-size: 8px;
    color: #666;
    margin-bottom: 4px;
}

#myForm {
    position: relative;
    margin-top: 16px;
}

#myForm #txt{
    height: 60px;
    padding-right: 70px;
    margin-bottom: 8px;
}

#myForm button.submit {
    position: absolute;
    top: 8px;
    right: 8px;
    height: 44px;
}

#myForm button.toggle-chat {
    border: none;
    border-radius: 50%;
    background: #FFF;
    padding: 4px 10px;
    color: #D70F64;
    float: right;
}

.rewards-wrapper, .invitation-wrapper {
    position: absolute;
    width: 250px;
    left: 50%;
    top: 50%;
    margin-left: -125px;
    margin-top: -140px;
    z-index: 100;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 8px 0 #ddd;
    text-align: center;
    padding: 16px;
}

.invitation-wrapper {
    margin-left: -200px;
    width: 400px;
}

.rewards-wrapper img,
.invitation-wrapper img {
    width: 100px;
}

.rewards-wrapper h1,
.invitation-wrapper h1 {
    margin-top: 8px;
    font-size: 20px;
    color: #666;
    font-weight: normal;
}

.rewards-wrapper p,
.invitation-wrapper p {
    padding: 8px 0;
    font-size: 14px;
    color: #8c8c8c;
}

.rewards-wrapper p span,
.invitation-wrapper p span {
    font-weight: bold;
}
